.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.line{
  width: 100%;
}

.card-container{
  width: 97%;
  display: block;
  margin: auto;
}

.title-login{
  text-align: left;
  margin-left: 29px;
}

.owl-carousel.owl-loaded {
  display: block !important;
}
.owl-carousel {
  display: none !important;
  width: 100% !important;
  -webkit-tap-highlight-color: transparent !important;
  position: relative !important;
  z-index: 1 !important;
}

.MuiOutlinedInput-notchedOutline{
  border-color: #ffffff !important;
}
.owl-nav {
display: none;
}

.div-slide:hover .img__description {
  visibility: visible;
  opacity: 1;
  max-height: 85vh;

}

.img-slide{
  max-height: 85vh;
}
.div-slide{
  max-height: 85vh;
  /* background-color: red; */
}
.row {
	flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}
.column {
	flex-direction: column;
}
.column-reverse {
	flex-direction: column-reverse;
}

/* Flex Container */
.container {
  /* max-width: 400px; */
  width: 100vw;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}


.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}
.makeStyles-appBarShift-6 {
  background-color: transparent !important;
}
.makeStyles-appBarShift-7 {
  background-color: transparent !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
